.App {
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
  padding: 5px 5px 5px 5px;
}

.App-link:hover {
  color: #61dbfb;
}

.App-link:active {
  color: teal;
}

.link {
  text-align: center;
}

div {
  background-color: #282c34;
  color: white;
}

body {
  background-color: #282c34;
  color: white;
  text-align: center;
}

h2 {
  color: #282c34;
  padding: 5px 5px 5px 5px;
}

h3 {
  color: #61DBFB;
  text-align: center;
  padding: 0px 30px 0px 30px;
}

h4 {
  color: #61DBFB;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

p {
  color: white;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
